<body class="hello">
    <div class="container" *ngIf="valu">
        <form>
         <h3 style="text-align: center;">Reset Password</h3>
            <div class="row">
                <div class="col-25">
                  <label for="email">Email</label>
                </div>
                <div class="col-75">
                  <input type="text" name="emailId" [(ngModel)]="emailId" placeholder="name@example.com" required>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                 <label for="secret question">Please select a secret question</label>
                </div>
                <div class="col-75">
                    <select id="secret_question">
                     <option value="0">Select one</option> 
                     <option value="1">What is your favourite Food?</option> 
                     <option value="2">Name of town where you were born?</option> 
                     <option value="3">Name of your first pet?</option> 
                     <option value="4">What is the name of your first school?</option>
                     <option value="5">What is your nickname?</option>
                    </select> 
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                 <label for="answer">Answer the question</label>
                </div>
                <div class="col-75">
                 <input type="text" name="answer" [(ngModel)]="answer" placeholder="answer" required>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                  <label for="Password">New Password</label>
                </div>
                <div class="col-75">
                 <input type="text" name="password" [(ngModel)]="password" placeholder="password" required>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                 <label for="confirmPassword">Confirm Password</label>
                </div>
                <div class="col-75">
                 <input type="text" name="confirmPassword" [(ngModel)]="confirmPassword" placeholder="confirmPassword" required>
                </div>
            </div>
            <br>
            <div class="row">
             <input type="submit" value="change" (click)="resetPassword()">
            </div>
        </form>
    </div>
</body>